<<<<<<< HEAD
$base-color: #59524c;

@use "../_admin.scss" with (
	$scheme-name: "coffee",
	$base-color: $base-color,
	$highlight-color: #c7a589,
	$notification-color: #9ea476,
	$form-checked: $base-color,

	$low-contrast-theme: "true"
);
=======
@use "sass:color";

$scheme-name: "coffee";
$base-color: #59524c;
$highlight-color: #c7a589;
$notification-color: #9ea476;
$low-contrast-theme: "true";

$form-checked: $base-color;

@import "../_admin.scss";
>>>>>>> fa623e74ce55ca1a48265d395a80daf0b504f244
