@use "sass:color";

<<<<<<< HEAD
$highlight-color: #dd823b;

@use "../_admin.scss" with (
  $scheme-name: "sunrise",
  $base-color: #cf4944,
  $highlight-color: $highlight-color,
  $notification-color: #ccaf0b,
  $menu-submenu-focus-text: color.adjust($highlight-color, $lightness: 35%)
);
=======
$scheme-name: "sunrise";
$base-color: #cf4944;
$highlight-color: #dd823b;
$notification-color: #ccaf0b;
$menu-submenu-focus-text: color.adjust($highlight-color, $lightness: 35%);

@import "../_admin.scss";
>>>>>>> fa623e74ce55ca1a48265d395a80daf0b504f244
